# required, may need port. See gethomepage.dev/installation/#homepage_allowed_hosts
HOMEPAGE_ALLOWED_HOSTS=

# USED for service base url like {{HOMEPAGE_VAR_BASE_URL}}:13001 for qbittorrent in services.yaml
HOMEPAGE_VAR_BASE_URL=
HOMEPAGE_VAR_WEATHERAPI_API_KEY=
HOMEPAGE_VAR_OPENWEATHERMAP_API_KEY=
