TZ=Australia/Melbourne
DOMAIN=example.com
PUID=1000
PGID=1000

HDD1_PATH=/mnt/hdd1
SSD1_PATH=/mnt/ssd1

# SFTPGo config directory (host keys, internal state)
# Mounted into the container at /var/lib/sftpgo
SFTPGO_HOME_PATH=./data/home

# SFTPGo persistent data (backups, provider DB)
# Mounted into the container at /srv/sftpgo
SFTPGO_DATA_PATH=./data/srv
